svg.kb .st0{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;}
svg.kb .st1{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.75;stroke-linecap:square;stroke-miterlimit:10;}
svg.kb .svg-elem-1 {
  stroke-dashoffset: 213.09703063964844px;
  stroke-dasharray: 213.09703063964844px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s;
          transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s;
}

svg.kb.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.kb .svg-elem-2 {
  stroke-dashoffset: 199.9125518798828px;
  stroke-dasharray: 199.9125518798828px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7999999999999999s;
          transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7999999999999999s;
}

svg.kb.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.kb .svg-elem-3 {
  stroke-dashoffset: 263.44256591796875px;
  stroke-dasharray: 263.44256591796875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8999999999999999s;
          transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8999999999999999s;
}

svg.kb.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.kb .svg-elem-4 {
  stroke-dashoffset: 257.67515563964844px;
  stroke-dasharray: 257.67515563964844px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9000000000000001s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9000000000000001s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.kb.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}
