svg.pwc .svg-elem-1 {
  stroke-dashoffset: 60.981483459472656px;
  stroke-dasharray: 60.981483459472656px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0s;
}

svg.active.pwc .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-2 {
  stroke-dashoffset: 67.62584686279297px;
  stroke-dasharray: 67.62584686279297px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.01s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.01s;
}

svg.active.pwc .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-3 {
  stroke-dashoffset: 73.47262573242188px;
  stroke-dasharray: 73.47262573242188px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.02s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.02s;
}

svg.active.pwc .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-4 {
  stroke-dashoffset: 73.78132629394531px;
  stroke-dasharray: 73.78132629394531px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.03s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.03s;
}

svg.active.pwc .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-5 {
  stroke-dashoffset: 63.97043991088867px;
  stroke-dasharray: 63.97043991088867px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.04s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.04s;
}

svg.active.pwc .svg-elem-5 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-6 {
  stroke-dashoffset: 52.72544860839844px;
  stroke-dasharray: 52.72544860839844px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.05s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.05s;
}

svg.active.pwc .svg-elem-6 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-7 {
  stroke-dashoffset: 45.588069915771484px;
  stroke-dasharray: 45.588069915771484px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.06s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.06s;
}

svg.active.pwc .svg-elem-7 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-8 {
  stroke-dashoffset: 1404.043212890625px;
  stroke-dasharray: 1404.043212890625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.07s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.07s;
}

svg.active.pwc .svg-elem-8 {
  stroke-dashoffset: 0;
  fill: rgb(0, 0, 0);
}

svg.pwc .svg-elem-9 {
  stroke-dashoffset: 69.71957397460938px;
  stroke-dasharray: 69.71957397460938px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.08s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.08s;
}

svg.active.pwc .svg-elem-9 {
  stroke-dashoffset: 0;
}

svg.pwc .svg-elem-10 {
  stroke-dashoffset: 67.82791900634766px;
  stroke-dasharray: 67.82791900634766px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.09s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.09s;
}

svg.active.pwc .svg-elem-10 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-11 {
  stroke-dashoffset: 351.49749755859375px;
  stroke-dasharray: 351.49749755859375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.1s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.1s;
}

svg.active.pwc .svg-elem-11 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-12 {
  stroke-dashoffset: 95.98282623291016px;
  stroke-dasharray: 95.98282623291016px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.11s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.11s;
}

svg.active.pwc .svg-elem-12 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-13 {
  stroke-dashoffset: 185.0574951171875px;
  stroke-dasharray: 185.0574951171875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.12s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.12s;
}

svg.active.pwc .svg-elem-13 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-14 {
  stroke-dashoffset: 169.15281677246094px;
  stroke-dasharray: 169.15281677246094px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.13s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.13s;
}

svg.active.pwc .svg-elem-14 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-15 {
  stroke-dashoffset: 148.9491424560547px;
  stroke-dasharray: 148.9491424560547px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.14s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.14s;
}

svg.active.pwc .svg-elem-15 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-16 {
  stroke-dashoffset: 149.4646453857422px;
  stroke-dasharray: 149.4646453857422px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.15s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.15s;
}

svg.active.pwc .svg-elem-16 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-17 {
  stroke-dashoffset: 82.30908203125px;
  stroke-dasharray: 82.30908203125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.16s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.16s;
}

svg.active.pwc .svg-elem-17 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-18 {
  stroke-dashoffset: 391.0347900390625px;
  stroke-dasharray: 391.0347900390625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.17s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.17s;
}

svg.active.pwc .svg-elem-18 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-19 {
  stroke-dashoffset: 96.50799560546875px;
  stroke-dasharray: 96.50799560546875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.18s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.18s;
}

svg.active.pwc .svg-elem-19 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-20 {
  stroke-dashoffset: 92.8837890625px;
  stroke-dasharray: 92.8837890625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.19s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.19s;
}

svg.active.pwc .svg-elem-20 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-21 {
  stroke-dashoffset: 136.35211181640625px;
  stroke-dasharray: 136.35211181640625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.2s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.2s;
}

svg.active.pwc .svg-elem-21 {
  stroke-dashoffset: 0;
  fill: rgb(0, 0, 0);
}

svg.pwc .svg-elem-22 {
  stroke-dashoffset: 26.41758155822754px;
  stroke-dasharray: 26.41758155822754px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.21s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.21s;
}

svg.active.pwc .svg-elem-22 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-23 {
  stroke-dashoffset: 23.46636199951172px;
  stroke-dasharray: 23.46636199951172px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.22s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.22s;
}

svg.active.pwc .svg-elem-23 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-24 {
  stroke-dashoffset: 21.26875877380371px;
  stroke-dasharray: 21.26875877380371px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.23s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.23s;
}

svg.active.pwc .svg-elem-24 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-25 {
  stroke-dashoffset: 19.661130905151367px;
  stroke-dasharray: 19.661130905151367px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.24s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.24s;
}

svg.active.pwc .svg-elem-25 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-26 {
  stroke-dashoffset: 18.48267364501953px;
  stroke-dasharray: 18.48267364501953px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.25s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.25s;
}

svg.active.pwc .svg-elem-26 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-27 {
  stroke-dashoffset: 16.381503105163574px;
  stroke-dasharray: 16.381503105163574px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.26s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.26s;
}

svg.active.pwc .svg-elem-27 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-28 {
  stroke-dashoffset: 13.640281677246094px;
  stroke-dasharray: 13.640281677246094px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.27s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.27s;
}

svg.active.pwc .svg-elem-28 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-29 {
  stroke-dashoffset: 26.519161224365234px;
  stroke-dasharray: 26.519161224365234px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.28s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.28s;
}

svg.active.pwc .svg-elem-29 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-30 {
  stroke-dashoffset: 25.499847412109375px;
  stroke-dasharray: 25.499847412109375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.29s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.29s;
}

svg.active.pwc .svg-elem-30 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-31 {
  stroke-dashoffset: 21.900959014892578px;
  stroke-dasharray: 21.900959014892578px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
}

svg.active.pwc .svg-elem-31 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-32 {
  stroke-dashoffset: 19.674421310424805px;
  stroke-dasharray: 19.674421310424805px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.31s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.31s;
}

svg.active.pwc .svg-elem-32 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-33 {
  stroke-dashoffset: 18.200328826904297px;
  stroke-dasharray: 18.200328826904297px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.32s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.32s;
}

svg.active.pwc .svg-elem-33 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-34 {
  stroke-dashoffset: 16.52578067779541px;
  stroke-dasharray: 16.52578067779541px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.33s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.33s;
}

svg.active.pwc .svg-elem-34 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-35 {
  stroke-dashoffset: 14.371830940246582px;
  stroke-dasharray: 14.371830940246582px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.34s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.34s;
}

svg.active.pwc .svg-elem-35 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-36 {
  stroke-dashoffset: 12.676549911499023px;
  stroke-dasharray: 12.676549911499023px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.35000000000000003s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.35000000000000003s;
}

svg.active.pwc .svg-elem-36 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-37 {
  stroke-dashoffset: 26.52121353149414px;
  stroke-dasharray: 26.52121353149414px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.36s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.36s;
}

svg.active.pwc .svg-elem-37 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-38 {
  stroke-dashoffset: 127.94286346435547px;
  stroke-dasharray: 127.94286346435547px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.37s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.37s;
}

svg.active.pwc .svg-elem-38 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-39 {
  stroke-dashoffset: 100.44158935546875px;
  stroke-dasharray: 100.44158935546875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.38s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.38s;
}

svg.active.pwc .svg-elem-39 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-40 {
  stroke-dashoffset: 42.52191925048828px;
  stroke-dasharray: 42.52191925048828px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.39s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.39s;
}

svg.active.pwc .svg-elem-40 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-41 {
  stroke-dashoffset: 347.9455871582031px;
  stroke-dasharray: 347.9455871582031px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.4s;
}

svg.active.pwc .svg-elem-41 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-42 {
  stroke-dashoffset: 53.120506286621094px;
  stroke-dasharray: 53.120506286621094px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.41000000000000003s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.41000000000000003s;
}

svg.active.pwc .svg-elem-42 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-43 {
  stroke-dashoffset: 49.520652770996094px;
  stroke-dasharray: 49.520652770996094px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.42s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.42s;
}

svg.active.pwc .svg-elem-43 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-44 {
  stroke-dashoffset: 310.0635681152344px;
  stroke-dasharray: 310.0635681152344px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.43s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.43s;
}

svg.active.pwc .svg-elem-44 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-45 {
  stroke-dashoffset: 56.90410614013672px;
  stroke-dasharray: 56.90410614013672px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.44s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.44s;
}

svg.active.pwc .svg-elem-45 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-46 {
  stroke-dashoffset: 187.81097412109375px;
  stroke-dasharray: 187.81097412109375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.45s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.45s;
}

svg.active.pwc .svg-elem-46 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-47 {
  stroke-dashoffset: 222.25531005859375px;
  stroke-dasharray: 222.25531005859375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.46s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.46s;
}

svg.active.pwc .svg-elem-47 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-48 {
  stroke-dashoffset: 396.2442932128906px;
  stroke-dasharray: 396.2442932128906px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.47000000000000003s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.47000000000000003s;
}

svg.active.pwc .svg-elem-48 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-49 {
  stroke-dashoffset: 1021.8338623046875px;
  stroke-dasharray: 1021.8338623046875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.48s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.48s;
}

svg.active.pwc .svg-elem-49 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-50 {
  stroke-dashoffset: 48.3391227722168px;
  stroke-dasharray: 48.3391227722168px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.49s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.49s;
}

svg.active.pwc .svg-elem-50 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-51 {
  stroke-dashoffset: 833.2957153320312px;
  stroke-dasharray: 833.2957153320312px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s;
}

svg.active.pwc .svg-elem-51 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-52 {
  stroke-dashoffset: 325.7187194824219px;
  stroke-dasharray: 325.7187194824219px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.51s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.51s;
}

svg.active.pwc .svg-elem-52 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-53 {
  stroke-dashoffset: 34.01657485961914px;
  stroke-dasharray: 34.01657485961914px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.52s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.52s;
}

svg.active.pwc .svg-elem-53 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-54 {
  stroke-dashoffset: 209.88563537597656px;
  stroke-dasharray: 209.88563537597656px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.53s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.53s;
}

svg.active.pwc .svg-elem-54 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.pwc .svg-elem-55 {
  stroke-dashoffset: 357.5548095703125px;
  stroke-dasharray: 357.5548095703125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.54s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.54s;
}

svg.active.pwc .svg-elem-55 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}
