#cases {
  padding: 111px 0 98px 0;
}

#cases .projects-list {
  padding: 0 0 87px 0
}

#cases .title {
  text-align: right;
}

#cases .case {
  position: relative;
  padding: 43px 0;
}

#cases .case:first-child {
  padding-top: 0;
}

#cases .case:not(:first-child):after {
  content: '';
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0.35;
   border-bottom: 1px solid #6c6c6c;
  -webkit-animation: line 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}
#cases .case:last-child:before {
  content: '';
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 0;
  z-index: 0;
  opacity: 0.35;
   border-bottom: 1px solid #6c6c6c;
  -webkit-animation: line 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

#cases .case .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#cases .case .text {
  display: inline-block;
  position: relative;
  z-index: 1;
   /*animation-delay: 0.2s;*/
}

#cases .case .text:hover,
#cases .case .text.active {
  cursor: pointer;
  color: #c91559;
}

#cases .case .teaser {
  display: none;
  opacity: 0;
  z-index: 1;
  position: relative;
  transition: 1s opacity ease;
  -webkit-animation: slide-in-blurred-left 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

#cases .case .teaser.active {
  display: block;
  opacity: 0;
  -webkit-animation: slide-in-bck-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
  animation: slide-in-bck-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
}

#cases .case .teaser .content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

#cases .case .teaser .content img {
  height: auto;
}

/* megacity */
.megacity .teaser .content img {
  max-width: 639px;
}

.megacity .container .text img {
  margin: 0 0 0 28px;
}

.megacity .teaser {
  bottom: 12px;
  left: -20px;
}

/* avon */
.avon .teaser .content img {
  max-width: 591px;
}

.avon .teaser {
  bottom: 106px;
  left: 10px;
}

/* almette */
.almette .teaser .content img {
  max-width: 639px;
}

.almette .teaser {
  bottom: 164px;
}

/* runner */
.runner .teaser .content img {
  max-width: 444px;
}

.runner .teaser {
  bottom: 220px;
  left: -15px;
}

/* vacuum */
.vacuum .teaser .content img {
  max-width: 567px;
}

.vacuum .teaser {
  bottom: 108px;
  left: -16px;
}

/* vera */
.vera .teaser .content img {
  max-width: 556px;
}

.vera .teaser {
  bottom: 219px;
  left: -28px;
}
/* 360 */
.cover360 .teaser .content img {
  max-width: 566px;
}

.cover360 .teaser {
  bottom: 325px;
  left: -124px;
  z-index: 1 !important;
}
@media screen and (max-width: 1440px) {
  #cases .case {
    padding: 20px 0;
  }
  #cases .case .text {
    font-size: 80px;
    line-height: 1.2;
  }
  #cases {
    overflow: initial;
  }
  .megacity .container .text img {
    margin: 0 0 0 15px;
    max-width: 84.2px;
  }
  .megacity .teaser {
    bottom: 395px;
    left: -248px;
  }
  /* #cases .case .text-wrapper {
    flex-grow: 1;
  }
  #cases .case .teaser .content {
    left: auto;
    right: -150px;
  } */
}
@media screen and (max-width: 900px) {
  #cases {
    display: none;
  }
}
