#cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 7px;
  height: 7px;
  margin: -5px 0 0 -5px;
  border: 0;
  background: #0d0d0d;
  border-radius: 100%;
  z-index: 999;
  color: #fff;
  font-size: 19px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  pointer-events: none;
  transition: 0.5s width ease, 0.5s height ease, 0.5s background-color ease;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#cursor:active {
  transition: transform 0.4s ease;
  transform: scale(1.5);
}
#cursor.round {
  width: 103px;
  height: 103px;
  /*margin: -100px 0 0 -51px;*/
}
#cursor.round:active {
  transform: scale(1.1);
}
#cursor.round .text {
  position: relative;
  z-index: 5;
}
#cursor.white {
  background-color: #fff;
  color: #5e5e5e;
}
#cursor.hollow {
  border: 2px solid #5e5e5e;
  border-radius: 50%;
  background-color: transparent;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
}
*[data-cursor='round'] {
  cursor: none;
}

@media screen and (max-width: 900px) {

}
