.menu {
  pointer-events: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: flex-end;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 1720px;
  padding: 40px 100px;
  z-index: 3;
  box-sizing: border-box;
  animation-delay: 0.2s;
  animation-duration: 0.3s !important;
  pointer-events: none;
}
@media screen and (min-width: 1680px) {
  .nav,
  .menu {
    max-width: 1920px;
  }
}
.nav.invert .as-logo span,
.nav.invert .popup-menu .line {
  filter: brightness(0) invert();
}

.as-logo {
  display: flex;
  align-items: flex-end;
  min-width: 138.578px;
  pointer-events: auto;
}

.nav .as-logo span {
  display: inline-block;
  width: 68.9px;
  height: 51.2px;
  background-size: 68.9px;
  background-image: url(../img/svg/as-logo.svg);
  transition: 0.5s filter linear;
}
.nav .as-logo .logo-crew {
  max-width: 73px;
  margin: 0 0 0 -8px;
  filter: grayscale(1);
  transition: 0.5s filter linear;
}

.nav .as-logo:hover .logo-crew {
  filter: none;
}

.nav .popup-menu {
  cursor: pointer;
  width: 42px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 0 0 4px 0;
  pointer-events: auto;
}
.nav .popup-menu:hover .line:nth-child(2) {
  width: 100% !important;
}
.nav .popup-menu.active .line {
  width: 100% !important;
}
.nav .popup-menu.active .line:nth-child(1) {
  transform: rotate(45deg);
}
.nav .popup-menu.active .line:nth-child(2) {
  transform: rotate(-45deg);
  top: -14px;
}
.nav .popup-menu:before {
  content: '';
  position: absolute;
  display: block;
  width: 200%;
  height: 300%;
  top: -150%;
  left: -50%;
  z-index: -1;
}
.nav .popup-menu:active {
  transform-origin: center;
  transform: scale(1.1);
}
.nav .popup-menu .line {
  background-color: #0d0d0d;
  transition: 0.5s filter linear, 0.2s width ease, 0.3s transform ease, 0.3s top ease;
  position: relative;
}

.nav .popup-menu .line:nth-child(1) {
  width: 42px;
  height: 7px;
  mix-blend-mode: multiply;
}

.nav .popup-menu .line:nth-child(2) {
  width: 28px;
  height: 7px;
  top: 0;
}
.secondary-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20px;
}
.secondary-nav .link {
  padding: 0 20px;
  cursor: pointer;
  transition: 0.1s color linear;
}
.secondary-nav .link span {
  display: none;
}
.secondary-nav .link:hover,
.secondary-nav .link.active,
.nav.invert .secondary-nav .link.active {
  color: #c91559;
}
.nav.invert .secondary-nav .link {
  color: #fff;
}
@media screen and (min-width: 900px) {
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 auto;
    /* width: 100vw; */
    max-width: 1720px;
    padding: 40px 100px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 1560px) {
  .menu {
    height: 54.188px;
  }
}
@media screen and (max-width: 1560px) {

  /*1560px*/
  .as-logo {
    min-width: 101.688px;
  }
  .nav .as-logo span {
    width: 50px;
    background-size: 50px;
    height: 37px;
  }

  .nav .as-logo .logo-crew {
    max-width: 55px;
  }

  .nav,
  .menu {
    padding: 40px 24px 40px 24px;
  }
}
@media screen and (max-width: 1560px) and (min-width: 900px) {
  .secondary-nav .link.t-19 {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .nav .popup-menu.active {
    margin-bottom: -4px;
  }
  .nav .popup-menu.active .line,
  .nav .popup-menu:hover .line:nth-child(2) {
    width: 20px !important;
  }
  .nav .popup-menu.active {
    width: 26px;
    height: 18px;
  }
  .menu {
    padding: 0;
  }
  .menu .as-logo {
    display: none;
  }
  .secondary-nav .link span {
    display: inline;
  }
  .nav.invert .secondary-nav  {
    background-color: #fff;
  }
  .nav.invert .secondary-nav .link {
    color: #6c6c6c;
    font-weight: normal;
  }
  .nav.invert .secondary-nav .link.active {
    color: #0d0d0d;
    font-weight: 800;
  }
  #nav .nav  {
    position: relative;
  }
  .secondary-nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 0 auto;
    position: absolute;
    top: 39px;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 118px;
    max-height: 33px;
    padding: 5px 18.5px 11px 20px;
    background-color: #0d0d0d;
    border-radius: 18px;
    color: #fff;
    transition: 0.4s max-height ease;
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  }
  .secondary-nav.expanded {
    max-height: 500px;
  }
  .secondary-nav .link {
    /* display: none; */
    line-height: 2;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    padding: 0;
    letter-spacing: normal;
    text-align: left;
    text-transform: none;
    color: #fff;
    line-height: 2.08;
  }
  .secondary-nav .link.active {
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 2.08;
    order: -1;
    font-weight: 800;
  }
  .nav.invert .secondary-nav .link.active:before {
    filter: invert();
  }
  .secondary-nav.expanded .link.active:before {
    transform: rotate(180deg);
  }
  .secondary-nav .link.active:before {
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 3.9px;
    right: 14px;
    top: 15px;
    background-size: 100%;
    background-image: url(../img/svg/arrow.svg);
    transition: 0.2s transform ease;
  }
  .nav {
    position: absolute;
  }

  .nav .as-logo span {
    width: 34.3px;
    height: 25px;
    background-size: 34.3px;
  }

  .nav .as-logo .logo-crew {
    display: none;
  }

  .nav .popup-menu {
    width: 26px;
    height: 13px;
  }

  .nav .popup-menu .line:nth-child(1) {
    width: 26px;
    height: 4px;
  }

  .nav .popup-menu .line:nth-child(2) {
    width: 15px;
    height: 4px;
  }
}
