.section {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  color: #0d0d0d;
  overflow: hidden;
  box-sizing: border-box;
}
.section.dark {
  background-color: #0d0d0d;
  color: #fff;
}
.section .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.section .container.left-padding {
  padding-left: 184px;
  box-sizing: border-box;
}
.section .title {
  font-size: 100px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
}
.section .columns {
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
}
.section .columns.peer .col {
  flex-grow: 1;
  flex-basis: 0;
}
@media screen and (max-width: 1440px) {
  .section .container,
  .section .container.left-padding {
    padding: 0 150px;
    box-sizing: border-box;
  }
  .section .title {
    font-size: 80px;
  }
  .section .subtitle {
    font-size: 22px;
  }
}
@media screen and (max-width: 900px) {
  .section .container {
    padding: 0 25px;
    box-sizing: border-box;
  }
  .section .container.left-padding {
    padding: 0 25px;
  }
  .section .title {
    font-size: 44px;
  }
}
