#pricing  {
  padding: 193px 0 81px 0;
  min-height: auto;
}
#pricing-text {
  padding: 0 0 370px 0;
}
.table-grid {
  overflow: auto;
  margin: 0 0 36px 0;
}
.table-grid .content {
  display: flex;
}
.table-grid .content .col {
  min-width: 342px;
  border: solid 1px #e2e2e2;
  border-right: 0;
  min-height: 476px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.table-grid .content .col:last-child {
  border-right: solid 1px #e2e2e2;
}
.table-grid .content .col .space {
  flex-grow: 1;
}
.table-grid .content .col .col-title {
  display: flex;
  justify-content: space-between;
  padding: 22px 36px 22px 33px;
  border-bottom: solid 1px #e2e2e2;
  background-color: #f8f8f8;
  align-items: center;
}
.table-grid .content .col .col-body {
  padding: 33px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}
.table-grid .content .col .col-body .text-14 {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #b4b4b4;
}
.table-grid .content .col .col-body > * + * {
  margin: 23px 0 0 0;
}
.table-grid .content .col .col-body .bullet-line + .text-14 {
  margin: 23px 0 0 0;
}
.table-grid .content .col .col-title .text {
  font-size: 19px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;
  color: #0d0d0d;
}
.bullet-line li:before {
  content: '—';
  margin: 0 10px 0 0;
}
.bullet-line li + li {
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  #pricing  {
    padding: 84px 0 24px 0
  }
  .title-words.t-100 {
    font-size: 43px;
  }
  #pricing-text {
    padding: 0 0 56px 0;
  }
  .table-grid {
    overflow: auto;
    margin: 0 -25px 0 -25px;;
  }
  .table-grid .content .col:first-child {
    margin-left: 25px;
  }
  .table-grid .content .col:last-child {
    margin-right: 25px;
  }
}
