/* .section.dark {
  background-color: #fff;
  color: #0d0d0d;
} */
#avon .header {
  background-image: url(/images/cases/avon/header@2x.jpg);
}
#info {
  /* background-color: #1d3541; */
}

@media screen and (min-width: 900px) {
  .secondary-nav .link {
    color: #fff;
  }

}

@media screen and (max-width: 900px) {
  #avon .header {
    background-image: url(/images/cases/avon/header-mobile@2x.jpg);
  }
  #info .title-words.c-fff {
    color: #0d0d0d;
  }

}
