.section.dark:not(#footer) {
  background-color: #fff;
  color: #0d0d0d;
}
#runnersfix .header {
  background-image: url(/images/cases/runnersfix-web/header@2x.jpg);
}
#runnersfix .header .widget {
  position: absolute;
  top: 436px;
  left: 0;
}

#runnersfix .title-words {
  z-index: 1;
  position: relative;
}
#runnersfix .header .video-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}
#runnersfix .header video {
   margin-left: 50vw;
   transform: translate(-50%);
   height: 100%;

}
#runnersfix .header picture {
  height: 100%;
}
#runnersfix .header picture img {
  width: auto;
  height: 100%;
  margin-left: 50vw;
  transform: translate(-50%);
  height: 100%;
}
.section.block-01.video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section.block-01.video .imageCase {
  padding: 0;
  position: relative;
  z-index: 1;
}
.inline-video {
  position: absolute;
  width: 47vw;
  height: 26vw;
  z-index: 0;
  /* background-image: url(/images/cases/runnersfix-web/video.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 20px 0 0 0;
}
.inline-video video,
.inline-video picture img {
  max-width: 100%;
}
.padding-top-148 {
  padding-bottom: 88px;
}
.imageCase {
    margin: 60px auto 0px auto;
}
.block-01   {
  padding: 0 0 60px 0;
}
@media screen and (min-width: 900px) {

  .block-04 .imageCase  {
      display: block;
      max-width: 657px;
      box-sizing: border-box;
  }
  /* .secondary-nav .link {
      color: #fff;
  }  */
}

@media screen and (max-width: 900px) {

  .inline-video {
    width: 84vw;
      height: 46vw;
      margin-top: 0vw;
  }
  .block-04 .imageCase {
    margin-top: 46px;
    margin-bottom: 46px;
  }
  .block-01 {
    padding: 0;
  }
  .imageCase {
    margin: 10px auto 0px auto;
  }
  .padding-top-148 {
    padding-bottom: 0;
}
  #runnersfix .header .widget {
    top: auto;
  }
  .block-04 .imageCase  {
      display: block;
      padding: 0 40px;
      max-width: 100%;
      box-sizing: border-box;
  }
  /* .block-01 .imageCase,
  .block-03 .imageCase,
  .block-07 .imageCase,
  .block-09 .imageCase,
  .block-11 .imageCase  {
      display: block;
      padding: 0 10vw;
      box-sizing: border-box;
  } */
}
