.section.dark:not(#footer) {
  background-color: #1e1f24;
  color: #0d0d0d;
}
#runnersfix .header {
  background-image: url(/images/cases/runnersfix/header@2x.jpg);
}
#info {
  /* background-color: #1d3541; */
}
.imageCase {
  margin: 0px auto 135px auto;
}
.imageCase.padding-107 {
  margin: 0px auto 107px auto;
}
.imageCase.padding-no {
  margin: 0 auto 0 auto;
}
.imageCase.padding-t-85 {
  margin: 85px auto 0 auto;
}
.block-03 .text,
.block-05 .text {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 100px 53px 100px;
}
@media screen and (min-width: 900px) {
  .block-01 .imageCase,
  .block-03 .imageCase,
  .block-04 .imageCase,
  .block-07 .imageCase,
  .block-09 .imageCase,
  .block-11 .imageCase  {
      display: block;
      max-width: 1750px;
      padding: 0 85px;
      box-sizing: border-box;
      width: 100%;
  }
  .block-07 .imageCase,
  .block-09 .imageCase,
  .block-11 .imageCase {
    max-width: 1349px;
  }
  .secondary-nav .link {
      color: #fff;
  }
}

@media screen and (max-width: 900px) {
  .block-03 .text, .block-05 .text {
   padding: 0px 25px 53px 25px;
}
.imageCase.padding-107 {
    margin: 0px auto 50px auto;
}
.imageCase {
    margin: 0px auto 50px auto;
}
.imageCase.padding-t-85 {
    margin: 50px auto 0 auto;
}
  .block-01 .imageCase,
  .block-03 .imageCase,
  .block-07 .imageCase,
  .block-09 .imageCase,
  .block-11 .imageCase  {
      display: block;
      padding: 0 25px;
      box-sizing: border-box;
  }
}
