svg.vera .st0{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:1.399;stroke-miterlimit:10;}
svg.vera .svg-elem-1 {
  stroke-dashoffset: 338.7973937988281px;
  stroke-dasharray: 338.7973937988281px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
          transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

svg.vera.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.vera .svg-elem-2 {
  stroke-dashoffset: 310.25518798828125px;
  stroke-dasharray: 310.25518798828125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.07s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.23s;
          transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.07s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.23s;
}

svg.vera.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.vera .svg-elem-3 {
  stroke-dashoffset: 260.1287536621094px;
  stroke-dasharray: 260.1287536621094px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.14s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.26s;
          transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.14s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.26s;
}

svg.vera.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

svg.vera .svg-elem-4 {
  stroke-dashoffset: 226.28118896484375px;
  stroke-dasharray: 226.28118896484375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.21000000000000002s,
                        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.29000000000000004s;
          transition: stroke-dashoffset 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.21000000000000002s,
                fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.29000000000000004s;
}

svg.vera.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}
