/* .section.dark {
  background-color: #fff;
  color: #0d0d0d;
} */
#antistatique .header {
  background-image: url(../../../img/cases/antistatique/header@2x.jpg);
}
#info {
  background-color: #1d3541;
}
.dark .imageCase {
  margin: 0 auto;
}
.imageCase {
  max-width: 100%;
  display: block;
  margin: 42px auto 42px auto;
}


@media screen and (min-width: 900px) {
  .secondary-nav .link {
    color: #fff;
  }

}
@media screen and (max-width: 900px) {
  #cover360 .header {
    background-image: url(../../../img/cases/cover360/header-mobile@3x.jpg);
  }
  .read-more.c-2c2c2c {
    color: #fff;
  }
  .read-more.c-2c2c2c:after {
    background-color: #fff;
  }
}
