.section {
  min-height: auto;
}
.header {
  min-height: 1080px;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 150px 0 0 100px;
  background-size: 1920px;
}
#info {
  padding: 85px 0 80px 0;
}
#info .description {
  padding: 0 80px 0 0
}
#info .description p + p{
  padding-top: 31px;
}
#info .labels .text + .text {
  padding-top: 28px;
}
@media screen and (max-width: 1560px) {
  .header {
    padding: 150px 24px 40px 160px;
  }
}
@media screen and (max-width: 900px) {
  .header {
    min-height: 500px;
    background-size: cover;
    background-position: center;
  }
  #info {
    padding: 40px 0 40px 0;
  }
  #info .columns {
    display: block;
  }
  .title-words.t-100 {
    font-size: 43px;
    padding-bottom: 30px;
  }
  #info .description p + p {
    padding: 0;
  }
  #info .description {
    padding: 0;
  }
}
