#vera .header {
  background-image: url(../../../img/cases/vera/header@2x.jpg);
}
.block-01 .text {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;
}
.block-12 {
  max-width: 1024px;
  margin: 0 auto;
}
.block-12 video {
  max-width: 1024px;
  margin: 85px auto 19px auto;
  display: block;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .block-12 .imageCase {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1560px) {
  .block-01 .text {
    padding:0 25px;
  }
}
@media screen and (max-width: 900px) {
  .block-01 .text br {
    display: none;
  }
  .block-01 .text {
    font-size: 19px;
  }
  .block-12 {
    padding: 0 25px;
  }
  .block-12 video {
    margin: 20px auto 19px auto;
  }
}
