
@media screen and (min-width: 900px) {
  #collection .header {
    min-height: 1040px;
  }
  .text.heading {
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
  }
  .imageCase {
    display: block;
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
  }
}
#collection .header {
  background-image: url(../../../img/cases/collection-of-logos/header@2x.jpg);
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: bottom;
}
#info .featured-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: -86px 0 79px 0;
}
#info .ai-gr img {
  max-width: 148px;
  display: block;
  margin: 0 48px 0 0;
}
.text.heading {
  margin-top: 120px;
}

@media screen and (max-width: 900px) {
  #info .featured-area {
    display: none;
  }
  #collection .header {
    background-image: url(../../../img/cases/collection-of-logos/header-mobile@2x.jpg);
    background-size: 1252px;
  }
  .text.t-30 {
    font-size: 19px;
    margin-top: 38px;
  }
}
