.section.dark {
  background-color: #1e1f24;
  color: #0d0d0d;
}
#runnersfix .header {
  background-image: url(../../../img/cases/runnersfix/header@2x.jpg);
}
#info {
  /* background-color: #1d3541; */
}
@media screen and (min-width: 900px) {
  .block-01 .imageCase,
  .block-03 .imageCase,
  .block-07 .imageCase,
  .block-09 .imageCase  {
      display: block;
      padding: 0 85px;
      box-sizing: border-box;
  }
  .secondary-nav .link {
      color: #fff;
  }
}

@media screen and (max-width: 900px) {
  .block-01 .imageCase,
  .block-03 .imageCase,
  .block-07 .imageCase,
  .block-09 .imageCase  {
      display: block;
      padding: 0 10vw;
      box-sizing: border-box;
  }
}
